/* ============================== *\
   => STYLE
\* ============================== */


@font-face {
	font-family: 'old-school';
	src: url("font/old-school.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#header > .navigation-bar {
	margin-bottom: 0;
}

#header > .navigation-bar .navigation-bar__brand {
	font-family: 'old-school';
	font-size: 24px;
}

#body {
	padding-top: 68px;
	padding-bottom: 100px;
	overflow: auto;
}

#footer {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
}