/* ============================== *\
   => WEB
\* ============================== */


body {
	height: 100%;
	position: relative;
}

#body {
	height: 100%;
	padding-top: 68px;
	padding-bottom: 10px;
	overflow: hidden;
}

.grid,
.row,
.column {
	height: 100%;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}
